/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {font-family:"STARWARS";src:url("STARWARS.eot?") format("eot"),url("STARWARS.woff") format("woff"),url("STARWARS.ttf") format("truetype"),url("STARWARS.svg#STARWARS") format("svg");font-weight:normal;font-style:normal;}



 *{
   margin:0 auto;
   font-family:"STARWARS", verdana;
 }
 body{
   background-image: url("background.jpeg");

   background-size: auto;
   color: #FADB4A;
 }
 h1{
   margin-top:24px;
   text-align: center;

 }
.twitter-feed{
  padding-top: 60px;
  height:600px;width:300px;}

.title{
  display: flex;
  align-items: center;
  height: 100px;}


.contatiner{
  display: flex;
  align-items:flex-start;

}

/*.contatiner{border: 1px solid green}*/
.slot-machine{
  margin-top: 60px;
  padding: 30px;
  background-image: url("last-jedi.jpg");
  border-radius: 10%;
  background-size: contain;
}
.slots{
  display: flex;
  align-items:center;

}
.results{
  border: 2px solid red;
    background-color: red;
}
.box{
  background-image: url("background.jpeg");
  width:150px;
  height:150px;
  object-fit: contain;
  border: 3px solid red;
  padding: 8px;
}
.purple{
  color: #ADC8F0
}
/*styling devise bar*/
.logging_in{
  text-align: center
}
.new_log_in{
  text-align: center
}
