// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.credits{
  width: 100vw;
  height: 100vh;
  // background: #000;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  text-align: center;
  top: 9999px;
  transform-origin: 90% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}


.leaderboard_heading{
  text-align: center;
  text-decoration: underline;
}

.profile_image{
  margin-left: 15px;
  overflow:hidden;
 -webkit-border-radius:50px;
 -moz-border-radius:50px;
 border-radius:150px;
 width:200px;
 height:200px;
 background-size:150px 0px;
 padding-bottom: 20px
}

.leaderboard_username{
  font-size: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.leaderboard_score{
  font-size: 50px;
}
